@tailwind base;
@tailwind components;
@tailwind utilities;

.dark body{
    background-color: black;
}

.light body{
    background-color: #FFFFFF;
}

.text-container{
    display: flex;
    justify-self: center;
    align-items: center;
}

.spotify{
    background-color: #1db954;
}

